footer
    padding 20px 0px
    color grayColor
    background #000

    .footer-content
        width 100%
        max-width 960px
        margin 0 auto 20px
        display flex
        justify-content space-between
        align-items center
        flex-wrap wrap
        padding 0px 10px;

.footer-logo
    margin-right 20px

    img
        max-width 100px

.footer-about
    max-width 230px
    margin-right 20px
    font-size 16px
    
    span
        display block

.footer-company__name
    margin-bottom 5px
    font-family boldFont
    text-transform uppercase

.footer-phone
    margin-right 50px

    a   
        position relative
        padding-left 25px
        display block
        color #fff
        font-size 20px
        font-family boldFont
        
        &:before
            content ''
            display block 
            width 15px
            height 15px
            position absolute
            left 0

.footer-phone--city

    &:before
        background url('../img/svg/phone-white.svg') 0 0 no-repeat
        background-size 100%
    
.footer-phone--mobile

    &:before
        background url('../img/svg/smartphone(Freepik).svg') 0 0 no-repeat
        background-size 100%

.footer-copyright
    width 100%
    text-align center
    
    a
        color grayColor
        text-decoration underline

.footer-social
    
    li 
        display inline-block
        margin-right 10px

        &:last-child
            margin-right 0px
        

.footer-social__link
    display block
    width 50px
    height 50px
    border-radius 50%
    

.footer-social__link--vk
    background url('../img/general/vk.png') 0 0 no-repeat
    background-size 100%
   

.footer-social__link--instagram
    background url('../img/general/instagram-footer.png') 0 0 no-repeat
    background-size 100%

.footer-social__link--fb
    background url('../img/general/facebook.png') 0 0 no-repeat
    background-size 100%

.footer-social__link--wp
    background url('../img/general/whatsapp.png') 0 0 no-repeat
    background-size 100%

.footer-social__link--youtube
    background url('../img/general/youtube.png') 0 0 no-repeat
    background-size 100%


    

