section.about#main
    .container
        .about-content
            .about-video
                iframe(width="100%" height="315" src="https://www.youtube.com/embed/LQNfk9TY5kQ" frameborder="0" allowfullscreen)
            .about-text
                h2.g-section-title About us
                p
                    strong Emerald bbbbbbbbbbbbbbbbbb
                    | is a precious stone with many faces, it embodies our activities, our approach to every event.


                p    
                    strong Our main task 
                    | is to hear the wishes of the client and realize his dream, no matter how bold it may seem. At the same time, we are absolutely convinced that a good holiday does not depend on the amount of money invested in it, but on the approach and professionalism of the team that is working on the project.


                P
                    strong The Emerald team 
                    | is a whole world that gives dreams.
                    
                span.instagram-text #МойМирМойEmerald
