section.banner
    .container
        p.banner-text Our 10 years experience in organizing wedding celebrations <br>will help you save up to 15% of the wedding budget <br> And about 3 months of self-preparation for the weddings.
