section.other#other
    .container
        .other-content
            h2.g-section-title Our non-wedding projects
            span.other-descr Also, we organize events such as:
            .other-item__wrap
                .other-item.other-item--corporate
                    span.other-item__title Corporate parties
                .other-item.other-item--birthday
                    span.other-item__title Birthdays, <br> anniversaries
                .other-item.other-item--child
                    span.other-item__title Graduation parties, <br> children's parties
            .other-offer 
                p You can find out more by phone 
                    a(href="tel:+74951955722") +7 (495) 195-57-22
                    <br>  or fill out the form on the next screen
                img(src="static/img/general/arrow-other.png" alt="arrow-other").other-arrow


            
