section.partner#partner
    .container
        .partner-content
            h2.g-section-title Our platform partner - <br> Cafe-tents "Russian Fairy Tale"
            .parnet-photo_wrap
                .partner-photo(style="background-image:url('static/img/content/partner/partner1.jpg')")
                .partner-photo.partner-photo--width(style="background-image:url('static/img/content/partner/partner2.jpg')")
                .partner-photo(style="background-image:url('static/img/content/partner/partner3.jpg')")
            
            .partner-advantages_line
                .partner-advantages_item.partner-advantages_item--1
                    span.partner-advantages_number 1
                    p - Located
                        b  in the National Horse Park

                .partner-advantages_item.partner-advantages_item--2
                    span.partner-advantages_number 2
                    p - There is a possibility of accommodation on the territory: newlyweds in
                        b  a two-room suite, 
                        | and the rest of the guests we can offer a choice of:
                        b  hotel rooms or cottages

            .partner-advantages_line
                .partner-advantages_item.partner-advantages_item--3
                    span.partner-advantages_number 3
                    p - On the territory of the complex there are 
                        b 3 snow-white arched tents of 200 square meters. m


                .partner-advantages_item.partner-advantages_item--4
                    span.partner-advantages_number 4
                    p - Tents have 
                        b convenient check-in 
                        |and 
                        b own parking
                        
            .partner-more
                span More about the place
                
                a(href="javascript:void(0));").g-btn.g-btn--pdf Presentation PDF