section.price#price
    .container
        h2.g-section-title.g-section-title--white Price
        .price-item__wrap
            .price-slider__controlls.price-slider__prev
            .price-slider__controlls.price-slider__next
            .js-price-item__wrap
                .price-item.price-item--level1
                    span.price__title Wedding <br> manager
                    p.price-descr Your personal assistant, who solves all organizational and technical issues on the day of your celebration:        
                    ul.price-list
                        li – Meet and greet guests.
                        li - Communicate with the banquet service of the restaurant.
                        li - Follows the work of the wedding staff 
                            i   (photo, video, artists, presenter, decorator).
                        li - Responsible for the exit registration area.
                        li - Answering all questions of concern.
                    .price-number
                        span 17 000$

                .price-item.price-item--level2
                    span.price__title Organization <br> of wedding
                    p.price-descr Full accompaniment of the "pre-wedding journey" in order to prepare the pleasure:
                     ul.price-list
                        li - We will pay attention to all the details, help to optimize the budget, recommend reliable wedding experts, fill your soul with triumph.
                        li - On the day of the wedding, the wedding coordinator and the coordinator work at the site.
                        li 
                            b You are resting!
                    .price-number
                        span 37 000$

                .price-item.price-item--level3
                            span.price__title Premium <br> Organization of wedding
                            p.price-descr This offer is ideal for wedding celebrations, if invited guests will be 
                                b 100 or more people.
                            ul.price-list
                                li - If in the schedule of the wedding day a busy program with entertainments and artists is planned.
                                li - In the morning, YOU will be accompanied by a coordinator who will take care of the first half of the day.
                                li - On the day of the wedding, there are:
                                    i wedding manager +2 coordinator.
                            .price-number
                                span 57 000$         
        .price-order
            p Detailed consultation by phone: 
                a(href="tel:+74951955722") +7 (495) 195-57-22 
                | or leave a request:

            a(href="#feedback").popup-link.g-btn Leave a request
                   


