section.reviews#reviews
    .container
        .reviews-content
            h2.g-section-title.g-section-title--white Reviews
            .reviews-slider
                .reviews-slider__controlls.reviews-slider__prev
                .reviews-slider__controlls.reviews-slider__next
                .js-review-slider
                    .review-slider__item
                        .review-item
                            .review-author
                                .review-photo.review-photo--1
                                span.review-author__name Sergei,
                                span.review-author__name Nastya   
                                span.review-date 7 may 2017 
                            .review-text 
                                p "Thank you very much! We were very fortunate that we found this wonderful place and you, girls!
                                p The guests were delighted, and this is the main thing!
                                    b  Sergey said that he wants to repeat))) In general, the celebration of the wedding was successful!"

                        .review-item
                            .review-author
                                .review-photo.review-photo--2
                                span.review-author__name Sasha,
                                span.review-author__name Kate
                                span.review-date 6 June 2017
                            .review-text
                                p
                                    b "I want to write thanks to everyone who took part in our holiday!
                                    |  Thank you very much to our host, who entertained everyone and everything! Thanks to the organizers, who gathered this day in pieces together! Thanks to the DJ for the beautiful music! Thanks to our decorators who added beauty to our day! Thank you videographer, who took every step we took! Thanks to the banquet service that we were tasty! And many thanks to our photographer!

                    .review-slider__item
                        .review-item
                            .review-author
                                .review-photo.review-photo--3
                                span.review-author__name Michael,
                                span.review-author__name Sofia
                                span.review-date 18 June 2017
                            .review-text
                                p   
                                    b Sofia:
                                    |  Natasha, you are an amazing team! We are very glad and very grateful that you were with us in the most crucial moments, helped, advised and prompted! We were able to forget about all issues, problems and just enjoy your day with all the heart, that for all the newlyweds the most important!
                                p
                                    b Michael:
                                    |  "I madly fell in love with your entire team !! Damn ... I missed in my opinion)


                        .review-item
                            .review-author
                                .review-photo.review-photo--4
                                span.review-author__name Maksim,
                                span.review-author__name Margarita
                                span.review-date 28 June 2017
                            .review-text
                                p "I would like to say a big thank you for our wonderful holiday. Despite the incredible heat, our wedding was perfect, beautiful, beautiful.
                                    b  Thank you, Natalie, for your support in stressful situations. Thanks to your professionalism, the wedding of our dreams took place !!!!
                                    |  Great, big, many thanks !!!! "

                    .review-slider__item
                        .review-item
                            .review-author
                                .review-photo.review-photo--1
                                span.review-author__name Sergei,
                                span.review-author__name Nastya   
                                span.review-date 7 may 2017 
                            .review-text 
                                p "Thank you very much! We were very fortunate that we found this wonderful place and you, girls!
                                p The guests were delighted, and this is the main thing!
                                    b  Sergey said that he wants to repeat))) In general, the celebration of the wedding was successful!"

                        .review-item
                            .review-author
                                .review-photo.review-photo--2
                                span.review-author__name Sasha,
                                span.review-author__name Kate
                                span.review-date
                            .review-text
                                p
                                    b "I want to write thanks to everyone who took part in our holiday!
                                    |  Thank you very much to our host, who entertained everyone and everything! Thanks to the organizers, who gathered this day in pieces together! Thanks to the DJ for the beautiful music! Thanks to our decorators who added beauty to our day! Thank you videographer, who took every step we took! Thanks to the banquet service that we were tasty! And many thanks to our photographer!

                    .review-slider__item
                        .review-item
                            .review-author
                                .review-photo.review-photo--3
                                span.review-author__name Michael,
                                span.review-author__name Sofia
                                span.review-date
                            .review-text
                                p   
                                    b Sofia:
                                    |  Natasha, you are an amazing team! We are very glad and very grateful that you were with us in the most crucial moments, helped, advised and prompted! We were able to forget about all issues, problems and just enjoy your day with all the heart, that for all the newlyweds the most important!
                                p
                                    b Michael:
                                    |  "I madly fell in love with your entire team !! Damn ... I missed in my opinion)


                        .review-item
                            .review-author
                                .review-photo.review-photo--4
                                span.review-author__name Maksim,
                                span.review-author__name Margarita
                                span.review-date
                            .review-text
                                p "I would like to say a big thank you for our wonderful holiday. Despite the incredible heat, our wedding was perfect, beautiful, beautiful.
                                    b  Thank you, Natalie, for your support in stressful situations. Thanks to your professionalism, the wedding of our dreams took place !!!!
                                    |  Great, big, many thanks !!!! "




