section.secrets
    .container
        .secrets-content
            h2.g-section-title We are for living communication!
            .secrets-text
                p In person, we will, with pleasure, tell you about it
                    b  where to start training
                    |  to the wedding celebration, what to pay special attention to and what not to lose sight of.
                p   Such advice is free of charge. Also, you can leave a request, and we will advise you on the phone.
                p   
                    b   We will be in touch!)
            .form.form--secrets
                form#form--secrets
                    p.form-title Consultation of a wedding specialist with experience in organizing 
                        b  over 200 weddings!
                    .form-group.form-group--name.form-group--icon
                        input(type="text" name="name" placeholder="Your name").g-input
                    .form-group.form-group--phone.form-group--icon
                        input(type="text" name="phone" placeholder="Phone number").g-input
                    .form-group
                        input(type="submit" value="To get a consultation").g-btn
                .success-form
                    span.success-text__bold Your application is accepted!
                    span.success-text  In the near future we will contact you.
                    
                
                    
