section.services#services
    .container
        h2.g-section-title.g-section-title--white Services
        
        .service-item.service-item--organization
            span.service-item__title Organization
            p.service-item__text We did not have, no and never will be ready-made offers with a set of options.
                b  A wedding is a small life with its history and soul.
                
        .service-item.service-item--master
            span.service-item__title Presenter of ceremonies
            p.service-item__text In our team
                b  more than 30 presenters, 
                |  sharing our vision for wedding celebration.
                
        .service-item.service-item--photo.service-item__center
            span.service-item__title Photographer / videographer
            p.service-item__text In our media team, there are 
                b more than 20 experts 
                | that we tested.
                
        .service-item.service-item--decor.service-item__center
            span.service-item__title Decor
            p.service-item__text The team of decorators of our celebration service will help you choose 
                b the style and color scheme of 
                |  your wedding.
                
        .service-item.service-item--banquet.service-item__center
            span.service-item__title Banquet
            p.service-item__text Our banquet service will satisfy 
                b any taste preferences
                |  even the most refined gourmet.
                
        .service-item.service-item--registration
            span.service-item__title Outside registration
            p.service-item__text Having listened to 
                b your wishes, preferences and dream
                |  about how this beautiful story should pass, we will help it to be realized.
                
        .service-item.service-item--artist
            span.service-item__title Artists
            p.service-item__text To diversify the area with a well by the artists, decorate the banquet with a bright performance, 
                b put a "cherry on the cake" at the end of the evening.