section.team#team
    .container
        .team-content
            h2.g-section-title Our team
            .team-founder
                .team-photo.team-photo--founder
                .team-founder__info 
                    span.team-founder__title Alisa Istomina
                    span.team-founder_work Founder of the Emerald Group of Companies
                    span.team-founder__work CEO of the company
                    <br> Organizer, Host of celebrations
                    p.team-founder__text "Our mission is to bring the culture of events to the masses. Any celebration - wedding, corporate or birthday - this is not a banquet with a toastmaster and a set of artists. It's much deeper, bigger. It's the emotions and feelings with which a person goes home, so every our holiday has a personal story and soul."
            
            .team-item.team-item--leader-organization
                .team-photo
                span.team-title Natalia Gudoshnikova
                span.team-work Executive Director of the Emerald Group of Companies
                span.team-work Head of Event Management Department
                span.team-work Wedding Manager
            
            .team-item.team-item--coordinator
                .team-photo
                span.team-title Oksana Abrosimova
                span.team-work Organizer
                span.team-work Wedding Manager
                span.team-work Coordinator
                
            .team-item.team-item--leader-banket
                .team-photo
                span.team-title Maria Ershova
                span.team-work Head of the Banquet Service
                
            .team-item.team-item--leader-photographer
                .team-photo
                span.team-title Sergey Prudnikov
                span.team-work The head of the direction "Emerald media"
                span.team-work Photographer
                
            .team-item.team-item--leader-corporate
                .team-photo
                span.team-title Ruslan Chachanov
                span.team-work Head of the direction for the development of corporate programs and team building.
            
            .team-item.team-item--leader-child
                .team-photo
                span.team-title Olga Menshikova
                span.team-work Head of the "Emerald for children".

            .team-item.team-item--screenwriter
                .team-photo
                span.team-title Arthur Vasilyev
                span.team-work Director of Events
                span.team-work Screenwriter
                span.team-work Host of events
                
            .team-item.team-item--decor
                .team-photo
                span.team-title Elona Gubaz
                span.team-work Head of the direction "Decor from Emerald"
                span.team-work Decorator-florist