.other-content
    color mainColor
    
    .g-section-title
        margin-bottom 15px

.other-descr
    display block
    margin-bottom 40px
    text-align center
    font-size 28px

.other-item__wrap
    width 100%
    max-width 810px
    margin 0 auto
    display flex
    justify-content space-around
    flex-wrap wrap

.other-item
    position relative
    width 32%
    padding-top 180px
    margin-bottom 60px
    text-align center
    font-family titleFont
    font-size 28px
    line-height 1.2

    &:before
        content ''
        position absolute
        top 0
        left 50%
        margin-left -82px
        width 165px
        height 165px

.other-item--corporate
    &:before
        background url(../img/content/other/corporate.png) 0 0 no-repeat

.other-item--birthday
        &:before
            background url(../img/content/other/birthday.png) 0 0 no-repeat

.other-item--child
        &:before
            background url(../img/content/other/child.png) 0 0 no-repeat

.other-offer
    width 100%
    max-width 680px
    margin 0 auto
    text-align center
    font-size 26px
    line-height 1.2
    
    p
        margin-bottom 25px

    a 
        color inherit
        font-family boldFont

.other-arrow
    width 30px
    height 50px

        
