.partner
    background url('../img/general/partner-bg.jpg') 0 0 no-repeat
    background-size cover

.partner-content
    width 100%
    max-width 960px
    margin 0 auto


.parnet-photo_wrap
    display flex
    justify-content space-between
    flex-wrap wrap

.partner-photo
    width 260px
    height 220px
    margin 0 10px 30px
    background-size cover

    &.partner-photo--width
        width 360px

.partner-advantages_line
    display flex
    justify-content center
    flex-wrap wrap
    color mainColor

.partner-advantages_item
    min-height 45px
    position: relative;
    width: 100%;
    margin: 0 20px 40px;
    padding-left: 55px;

    &.partner-advantages_item--1
        max-width 240px

    &.partner-advantages_item--2
        max-width 480px

    &.partner-advantages_item--3
        max-width 370px
    &.partner-advantages_item--4
        max-width 270px

.partner-advantages_number
    position absolute
    left 0
    display block
    width 45px
    height 45px
    padding-top 7px
    background-color mainColor
    border-radius 50%
    color #fff
    font-family boldFont
    font-size 30px
    text-align center

.partner-more
    text-align center
    color mainColor

    span 
        display block
        margin-bottom 20px
        font-size 22px