.price
    background url('../img/general/price-bg.jpg') 0 0 no-repeat
    background-size cover

.price-item__wrap
    margin-bottom 30px

.price-item
    position relative
    height 550px
    padding 20px 20px 30px
    border-radius 10px
    text-align center
    line-height 1.2
    margin 0 10px
    

.price-item--level1
    background url('../img/general/price/level1.jpg') 0 0 no-repeat
    background-size cover

.price-item--level2
    background url('../img/general/price/level2.jpg') 0 0 no-repeat
    background-size cover

.price-item--level3
    background url('../img/general/price/level3.jpg') 0 0 no-repeat
    background-size cover

.price__title
    display block
    font-size 24px
    font-family boldFont
    color mainColor
    text-transform uppercase

    &:after
        content ''
        display block
        margin 20px
        width 260px
        height 1px
        background-color mainColor

.price-descr
    margin-bottom 10px

.price-list
    margin-bottom 20px

    li
        margin-bottom 5px

.price-number
    position absolute
    bottom 30px
    left 50%
    width 100%
    max-width 260px
    margin-left -130px
    height 60px
    line-height 60px
    background url('../img/general/price-bg.png') 0 0 no-repeat
    font-size 42px
    color #fff
    font-family boldFont
    
.price-order
    text-align center
    color #fff
    
    p 
        margin-bottom 30px
        font-size 28px
        
        a   
            color #fff
            font-family boldFont

.price-slider__controlls
    position absolute
    top 50%
    margin-top -22px
    width 44px
    height 44px
    cursor pointer
    
    

.price-slider__prev
    background url('../img/svg/(Lucy G)left-arrow.svg') 0 0 no-repeat
    background-size 100%
    left 0px
    

.price-slider__next
    background url('../img/svg/(Lucy G)right-arrow.svg') 0 0 no-repeat
    background-size 100%
    right 0px
 
        
        


