.team
    padding 0
    background url('../img/general/team-bg2.jpg') center no-repeat
    background-size cover
    
    
    &:before 
            content ''
            display block
            position absolute
            top -12px
            left 0
            right 0
            height 20px
            background url('../img/general/wave-top-team.png') 0 0 no-repeat
            background-size cover
            z-index 1
            opacity 0.5

    &:after 
            content ''
            display block
            position absolute
            bottom -19px
            left 0
            right 0
            height 19px
            background url('../img/general/wave-bottom-team.png') 0 0 no-repeat
            background-size cover
            z-index 1
            opacity 0.6
            
.team-content
    padding 70px 0
    height 1140px
    background url('../img/general/team-line.png') 0 0 no-repeat
    color mainColor
    

.team-photo
    height 165px
    width 165px
    margin 0 auto 10px
    border 2px solid mainColor
    border-radius 50%
    overflow hidden

    &.team-photo--founder
        position absolute
        left 10px
        width 260px
        height 260px
        background url('../img/content/team/founder.jpg') 0 0 no-repeat

.team-founder
    position absolute
    padding-left 290px
    left 16%
    top 15%

.team-founder__info 
    width 100%
    max-width 460px

    span 
        display block
        margin-bottom 10px
        
        &:last-of-type
            margin-bottom 20px
        
.team-founder__text
    font-family italicFont

.team-founder__title
    font-size 24px
    font-family boldFont

.team-item 
    position absolute
    text-align center

.team-item--leader-organization
    width 100%
    max-width 290px
    top 38%
    left 0

    .team-photo
        background #fff url('../img/content/team/leader-organization.jpg') 0 0 no-repeat

.team-title
    display block
    margin-bottom 10px
    font-family boldFont

.team-work
    margin-bottom 5px
    display block
    line-height 1.2

.team-item--coordinator
    top 42%;
    left 27%;
    width 100%;
    max-width 220px;

    .team-photo
        background #fff url('../img/content/team/coordinator.jpg') 0 0 no-repeat

.team-item--leader-banket
    top: 37%;
    left: 49%;
    width: 100%;
    max-width: 200px;

    .team-photo
        background #fff url('../img/content/team/leader-banket.jpg') 0 0 no-repeat


.team-item--leader-photographer
    top: 42%;
    left: 70%;
    width: 100%;
    max-width: 230px

    .team-photo
        background #fff url('../img/content/team/photographer.jpg') 0 0 no-repeat



.team-item--leader-corporate
    top: 72%;
    left: 69%;
    width: 100%;
    max-width: 260px;

    .team-photo
        background #fff url('../img/content/team/leader-corporate.jpg') 0 0 no-repeat

.team-item--leader-child
    top: 67%;
    left: 49%;
    width: 100%;
    max-width: 230px;

    .team-photo
        background #fff url('../img/content/team/leader-child.jpg') 0 0 no-repeat

.team-item--screenwriter
    top: 72%;
    left: 26%;
    width: 100%;
    max-width: 190px;

    .team-photo
        background #fff url('../img/content/team/screenwriter.jpg') 0 0 no-repeat

.team-item--decor
    top: 67%;
    left: 3%;
    width: 100%;
    max-width: 230px;

    .team-photo
        background #fff url('../img/content/team/decor.jpg') 0 0 no-repeat



