@media screen and (max-width: 1200px)
    .service-item
        width 45%
        &.service-item__center
            width 45%
    
    .price-item__wrap
        padding 0 50px
        
    .price-item
        height 500px

@media screen and (max-width: 1050px)
    .portfolio
        height auto
        background-size cover

    .portfolio-item__wrap
        display flex
        flex-direction column
        max-width 700px

    .portfolio-item
        width 350px
        order 1

        &.portfolio-item--width,
        &.portfolio-item--height
            width 700px
            order 2

        &.portfolio-item--height
            position relative

        &.portfolio-item--width
            height 260px

    .portfolio-item__line
        order 1
        flex-wrap wrap
        justify-content center

    .portfolio-item--center
        order 2

    .portfolio-instagram
        order 3

@media screen and (max-width: 1000px)
    .header-about
        display none
        
    .header-nav
        order 1

    .header-phone
        order 2

    .header-btn
        order 3
        
    .header-logo
        order 4

    .service-item
        width 45%
        padding-left 135px

        &:before
            width 120px
            height 120px

    .price-item
        padding 15px 10px 30px

    .price__title
        font-size 20px

    .team-content
        display flex 
        flex-wrap wrap
        height auto
        background none

    .g-section-title
        margin 30px auto
        
        
    .team-founder
        position static
        width 100%
        margin-bottom 50px
        padding-left 230px

    .team-photo
        &.team-photo--founder
            width 200px
            height 200px
            background-size 100%

    .team-item
        position static
        width 30%
        max-width 100%
        margin-bottom 30px

    .parnet-photo_wrap
        justify-content center

    .review-item
        margin 0 auto 10px

    .footer-social
        width 100%
        text-align center

@media screen and (max-width: 900px)
    .about-video,
    .about-text
        width 100%

    .about-text
        order 1
        margin-bottom 40px

    .about-video
        order 2
        
    .other-item
        width 45%

    .secrets-content
        justify-content center
        
    .secrets-text
        max-width 100%
        margin-bottom 40px
        text-align center
        

@media screen and (max-width: 800px)
    .team-item
        width 45%

    .partner-advantages_item

        &.partner-advantages_item--1,
        &.partner-advantages_item--2,
        &.partner-advantages_item--3,
        &.partner-advantages_item--4
            max-width 100%
    
    .review-item
        height auto

    .reviews-slider
        padding 0 70px

       
@media screen and (max-width: 750px)

    header
        height 110px
        background mainColor url('../img/general/header-bg.jpg') center repeat-Y

    .header-nav__title
        display none

    .header-logo
        position absolute
        left 50%
        margin-left -70px
        top 0px

    .header-phone
        order 4

    .header-btn
        position absolute
        right 10px
        top 70px
        z-index 100

    .banner
        padding 50px

        .container
            height 300px
            align-items flex-start
            
    .banner-text
        font-size 28px

    .service-item
            width 100%
            min-height 120px

            &.service-item__center
                width 100%


    .portfolio-item__line, .portfolio-item__center
        max-width 350px
        margin 0 auto


    .portfolio-item__wrap
        max-width 700px

    .portfolio-item
        width 350px

        &.portfolio-item--width,
        &.portfolio-item--height
            width 350px
        
    .reviews
        height auto
        background-size cover

    .footer-content
        flex-direction column

    .footer-logo,
    .footer-about,
    .footer-phone
        margin-right 0
        margin-bottom 15px
        max-width 100%
        text-align center

@media screen and (max-width: 650px)

    .other-offer
        a
            display block



@media screen and (max-width: 600px)

    header
        height 130px

    .header-about
        display block

    .header-logo
        display none
        
    .header-nav
        position absolute
        left 10px
        top 70px

    .header-phone
        a
            font-size 16px


    .team-item
        width 100%

    .team-founder
        padding-left 0px

    .team-photo 
        &.team-photo--founder
            position static

    .team-founder__info
        text-align center
        max-width none

    .review-item
        flex-direction column

    .review-author
        margin-bottom 20px

    

@media screen and (max-width: 500px)

    .g-section-title
        font-size 35px

    header
        height auto
        
        .container
            justify-content center
            flex-direction column
            height auto

    .header-about
        display block
        width 100%
        text-align center
        margin-bottom 15px
        order 1

    .header-phone
        display inline-block
        margin-bottom 15px
        order 2

    .header-btn
        position static
        order 3

    .header-nav
        top 90px

    .form
        padding 15px

    .form-title
        font-size 20px

    .g-btn 
        padding 0px 15px

    .banner
        padding 40px 10px
        
        .container
            height 250px

    .banner-text
        font-size 22px

    .service-item
        padding-left 100px
        font-size 16px

        &:before
            width 80px
            height 80px
            
    .portfolio-item__line, .portfolio-item__center
        max-width 280px
        
    .portfolio-item
        width 280px

        &.portfolio-item--width,
        &.portfolio-item--height
            width 280px

    .price 
        padding-top: 20px;


    .price-item__wrap 
        padding 0 15px;

    .price-slider__controls
        width 20px
        height 20px

    
    .price-item
        height auto
        padding-bottom 80px


    .price__title
        font-size 20px
        
    .price-list
        
        li
            font-size 16px

    .price-number 
        font-size 30px
        line-height 40px
        max-width 180px
        height 40px
        margin-left -90px
        background-size 100%

    .price-order
        p
            font-size 20px

    .partner-photo
        margin 0 auto 30px

    .reviews-slider
        padding 0 30px

    .reviews-slider__controlls
        width 30px
        height 30px

    .other-item
        width 100%   

    .footer-social
        li 
            margin-right 0

    .footer-copyright
        a
            display block
    