//Colors

mainColor = #007558
grayColor = #898989


//Fonts

mainFont = "PTSansRegular", Ariel, sans-serif
boldFont = "PTSansBold"
italicFont = "PTSansItalic", Ariel, sans-serif
titleFont = "KuraleRegular", Ariel, sans-serif
