footer#footer
    .container
        .footer-content
            .logo.footer-logo
                img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x" alt="logo")
            .footer-about
                span.footer-company__name Emerald Group of Companies
                span.footer-company__descr Organization of wedding celebrations
            .footer-phone
                a(href="tel:7495195-57-22").footer-phone--city +7 (495) 195-57-22
                a(href="tel:7916172-45-69").footer-phone--mobile +7 (916) 172-45-69
                a(href="tel:7985394-10-57").footer-phone--mobile +7 (985) 394-10-57
            ul.footer-social
                li
                    a(href="javascript:void(0);").footer-social__link.footer-social__link--vk
                li
                    a(href="javascript:void(0);").footer-social__link.footer-social__link--instagram
                li
                    a(href="javascript:void(0);").footer-social__link.footer-social__link--fb
                li
                    a(href="javascript:void(0);").footer-social__link.footer-social__link--wp
                li
                    a(href="javascript:void(0);").footer-social__link.footer-social__link--youtube
        .footer-copyright
            span © 2017 All rights reserved 
            a(href="javascript:void(0);") Privacy policy
    
