header
    .container
        .header-nav
            .sandwich
                span.sandwich-line.sandwich-line--top
                span.sandwich-line.sandwich-line--middle
                span.sandwich-line.sandwich-line--bottom
            span.header-nav__title Menu
            include menu
        .header-about
            h1.header-company__name Emerald Group of Companies
            span.header-company__descr Organization of wedding celebrations
        .logo.header-logo
            img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x" alt="logo")
        .header-phone
            a(href="tel:7495195-57-22") +7 (495) 195-57-22
            a(href="tel:7985394-10-57") +7 (985) 394-10-57
        a(href="#feedback").header-btn.popup-link.g-btn.g-btn--small Request a call
        