ul.header-nav__list
    li
        a(href="#main").scroll-link.header-nav__link Home
    li
        a(href="#services").scroll-link.header-nav__link Services 
    li
        a(href="#portfolio").scroll-link.header-nav__link Portfolio
    li
        a(href="#price").scroll-link.header-nav__link Price
    li
        a(href="#team").scroll-link.header-nav__link Our team       
    li
        a(href="#partner").scroll-link.header-nav__link Partner site
    li
        a(href="#reviews").scroll-link.header-nav__link Reviews 
    li
        a(href="#other").scroll-link.header-nav__link Not wedding projects        
    li
        a(href="#footer").scroll-link.header-nav__link Contacts