extends ../layout/main

block title
    | Главная страница

block content
    include ../sectionn/banner
    include ../sectionn/about
    include ../sectionn/services
    include ../sectionn/portfolio
    include ../sectionn/price
    include ../sectionn/team
    include ../sectionn/partner
    include ../sectionn/reviews
    include ../sectionn/other
    include ../sectionn/secrets
    
    
    
        